In [ ]:
# 1. Write a code to create a string with your name and print it.
name = "Dhrubojyoti Mondal"
print(name);

Dhrubojyoti Mondal

In [ ]:
# 2. Write a code to find the length of the string "Hello World".
name = "Hello World"
totat_length = len(name)
print("Total length of string is:", totat_length)
#print(len(name))

Total length of string is: 11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
name = "Python Programming"
slice_name = name[:3]
#print(name[:3])
print("Print first 3 characters is:", slice_name)

Print first 3 characters is: Pyt

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase.
name = "hello"
print(name.upper())

HELLO

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple". question wrong correct answer "i like orange"
old_string = "I like apple"
new_string = old_string.replace("apple", "orange")
print(new_string)

I like orange

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
number_list = [1,2,3,4,5]
print(number_list)

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
number_list = [1,2,3,4]
print("Before adding new numnber in list", number_list)
number_list.append(10)
print("After adding new number in list", number_list)

Before adding new numnber in list [1, 2, 3, 4]
After adding new number in list [1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
number_list= [1,2,3,4,5]
number_list.remove(3)
print(number_list)

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
string_list = ['a','b', 'c', 'd']
findSecond_element = string_list[1]
print("Second element is: ", findSecond_element)

Second element is:  b

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
old_list = [10, 20, 30, 40, 50]
#old_list.reverse()
new_list = old_list[::-1]
#print(old_list)
print(new_list)

[50, 40, 30, 20, 10]

In [ ]:
# 11.  Write a code to create a tuple with the elements 10, 20, 30 and print it.
new_tuple = (10,20,30)
print(type(new_tuple))
print(new_tuple)

<class 'tuple'>
(10, 20, 30)

In [ ]:
# 12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')
old_tuple = ('apple','bananaq','cheery')
new_tuple = old_tuple[0]
print("Access first element: ", new_tuple)

Access first element:  apple

In [ ]:
# 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)
number = (1,2,3,2,4,2)
count_number = number.count(2)
print(count_number,"times the number present in tuple")

3 times the number present in tuple

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
old_element = ('dog','cat','rabbit')
new_element = old_element.index('cat')
print("The index number of element is: ",new_element)

The index number of element is:  1

In [5]:
# 15.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')
name = ('apple', 'orange', 'banana')
if "banana" in name:
  print("banana is present in tuple")
else:
  print("banana is not present in tuple")

banana is present in tuple

In [8]:
# 16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it
new_set = {1,2,3,4,5}
print(type(new_set))
print(new_set)

<class 'set'>
{1, 2, 3, 4, 5}

In [12]:
# 17. Write a code to add the element 6 to the set {1, 2, 3, 4}

new_set = {1, 2, 3, 4}
print("Before add new element: ", new_set)
new_set.add(6)
print("After add new element: ", new_set)

Before add new element:  {1, 2, 3, 4}
After add new element:  {1, 2, 3, 4, 6}

In [13]:
# 18.  Write a code to create a tuple with the elements 10, 20, 30 and print it.
new_tuple = (10,20,30)
print(type(new_tuple), new_tuple)

<class 'tuple'> (10, 20, 30)

In [18]:
# 19.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
old_tuple = ('apple', 'banana', 'cherry')
new_tuple = old_tuple[0]
print(new_tuple)

apple

In [19]:
# 20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
number = (1,2,3,2,4,2)
count_number = number.count(2)
print(count_number,"times the number present in tuple")

3 times the number present in tuple

In [20]:
# 21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
old_tuple = ('dog', 'cat', 'rabbit')
new_tuple = old_tuple.index('cat')
print("the index of cat: ", new_tuple)

the index of cat:  1

In [22]:
# 22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
name = ('apple', 'orange', 'banana')
if "banana" in name:
  print("Banana is present in tuple")
else:
  print("Banana is not present in tuple")

Banana is present in tuple

In [23]:
# 23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
new_set = {1,2,3,4,5}
print(type(new_set), new_set)

<class 'set'> {1, 2, 3, 4, 5}

In [24]:
# 24. Write a code to add the element 6 to the set {1, 2, 3, 4}.
new_set = {1, 2, 3, 4}
print("Before add new element: ", new_set)
new_set.add(6)
print("After add new element: ", new_set)

Before add new element:  {1, 2, 3, 4}
After add new element:  {1, 2, 3, 4, 6}